/* Root font style 
:root {
    font-family: 'Poppins', sans-serif;
}*/

body {
    background-color: #f6f6f6; /* This is a light grey color */
}
body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar styles */
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    /* CHECK for height bw nav items when wrapping on small screen sizes */
}

.nav-item {
    margin: 0.5rem; /* Provides consistent margin around items */
    display: flex; /* Keeps the text and pseudo-element in line */
    align-items: center; /* Vertically centers items in the flex container */
}

/*.nav-item:not(:last-child)::after {
    content: "|";
    margin-left: 20px;
    padding-right: 10px;
    color: grey;
}/*

/* Responsive font size for nav items with a minimum size */
.nav-link {
    font-size: 2.5vw;
    text-align: center;
    color: grey; /* Sets the default color of nav links to grey */
    transition: color 0.2s; /* Smooth color transition for hover effect */
}
/* Color change on hover */
.nav-link:hover,
.nav-link:focus { /* Also maintain the color when the link is focused */
    color: black;
    text-decoration: underline; /* Optional: Removes the underline on hover */
}

.para-link {
    color: rgb(0, 0, 0); /* Sets the default color of nav links to black */
     /* transition: color 0.2s; Smooth color transition for hover effect */
     font-weight: 500;
}
/* Color change on hover */
.para-link:hover,
.para-link:focus { /* Also maintain the color when the link is focused */
    color: black;
    text-decoration: underline; /* Optional: Removes the underline on hover */
    font-weight: 500;
}

/* Responsive and centered logo */
.logo {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: auto;
    padding-top: 3vw;
    max-width: 400px; /* Ensures logo doesn't get too large */
}
/* Media query for logo on small devices */
@media (max-width: 767px) {
    .logo {
        width: 60%; /* Increase width on small devices */
        max-width: none; /* Remove max-width restriction beyond the 200px limit set for larger devices*/
        padding-bottom: 3vw;
        padding-top: 5vw;
    }
}

/* Ensuring text size doesn't become too small or too large */
@media screen and (min-width: 992px) {
    .navbar-nav .nav-link, .nav-item:not(:last-child)::after {
        font-size: 20px; /* Fixed font size for larger screens */
    }
}

@media screen and (max-width: 576px) {
    .navbar-nav .nav-link, .nav-item:not(:last-child)::after {
        font-size: 14px; /* Fixed font size for smaller screens */
        /* Reduce vertical margin for nav items on small screens */
    .nav-item {
        margin: 0.25rem 0.5rem; /* Adjust the vertical margin (top and bottom) by changing first value*/
    }
    }
}
/* Media query for small devices */
@media screen and (max-width: 576px) {
    .navbar .navbar-nav .nav-item {
        margin: 0.01rem 0.5rem; /* Adjust vertical margin */
    }
}


/* .portfolio-item {
    /* Create a square container 
    position: relative;
    width: 100%;
    padding-top: 100%; /* This ensures a 1:1 aspect ratio
    overflow: hidden; /* Hide overflowed parts of the image
}

.portfolio-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%); 
    object-fit: cover; /* Cover the container, cropping if necessary
} */

.no-gutter > [class^='col-'], .no-gutter > [class*=' col-'] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-item {
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    transition: border 0.2s ease; /* Smooth transition for the border */
    border: 5px solid transparent; /* Invisible border by default */
}
.portfolio-item:hover {
    border: 5px solid rgb(0, 0, 0); /* Black border on hover */
}
.custom-padding {
    padding-left: 70px; /* Adjust the value as needed */
    padding-right: 0px; /* Adjust the value as needed */
}
.custom-modal {
    background-color: black; /* Sets bg color to black */
    color: white; /* Sets text color to white */
}
.image-container {
    text-align: center;
}
.modal-backdrop {
    opacity: 0.7 !important; /* Increase the transparency. !important ensures custom style overrides the default Bootstrap styles */
}


.embed-responsive-9by16 {
    position: relative;
    width: 100%;
    padding-bottom: 177.78%; /* Adjusted for 9:16 aspect ratio */
}
.embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.full-width-image {
    width: 100%;
    height: auto;
    display: block;
}




